In [14]:
import pandas as pd
df = pd.read_csv("mldata.csv")
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [15]:
# convert gender to dummies
df['gender'] = df['gender'].replace("Male", 1)
df['gender'] = df['gender'].replace("Female", 0)
df.head()

   age   height  weight  gender likeness
0   27  170.688    76.0       1  Biryani
1   41  165.000    70.0       1  Biryani
2   29  171.000    80.0       1  Biryani
3   27  173.000   102.0       1  Biryani
4   29  164.000    67.0       1  Biryani

In [16]:
# selection of imput and output variables:
X = df[['weight', 'gender']]
y = df['likeness']

In [17]:
X.head()

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [18]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [19]:
# Machine learning algorithm:
from sklearn.tree import DecisionTreeClassifier

In [20]:
# create and fit model
model = DecisionTreeClassifier().fit(X, y)

In [21]:
# prediction:
model.predict([[23, 0]])

# we can use different :... age and gender ...:

C:\Users\fmakh\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [22]:
# How we measure the accuracy od our model
# slit data into test and train(80/20)

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2) 
# here!... 80% training data & 20% testing data

# create model:
model = DecisionTreeClassifier()

# fitting data
model.fit(X_train, y_train)

predicted_values = model.predict(X_test)
predicted_values

array(['Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Pakora', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Pakora',
       'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Pakora', 'Biryani',
       'Biryani'], dtype=object)

In [23]:
# checking score:
score = accuracy_score(y_test, predicted_values)
score

0.6326530612244898

In [24]:
# How to train and save yuor models:


import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib

model = DecisionTreeClassifier().fit(X, y)

joblib.dump(model, "foodie.joblib")

['foodie.joblib']

> **Assignment is...**
- How we import/run a stored or saved model on our Data?

In [25]:
#  Graph:
from sklearn import tree
model = DecisionTreeClassifier().fit(X, y)

# Graphic evaluation/look into what happened:

tree.export_graphviz(model,
                     out_file='foodie.dot',
                     feature_names= ['age', 'gender'],
                     class_names=sorted(y.unique()),
                     label='all', 
                     rounded=True,
                     filled=True)