In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
kashti = sns.load_dataset('titanic')
ks1 = kashti
ks2 = kashti
ks = kashti

In [ ]:
kashti.head()

In [ ]:
# simple operations (math operator)
(kashti['age']*6).head(10)  # we can use any number here and also (+, - , *, /)

 # Dealing with missing values:
 - In a dataset values are either ? or N/A, or NaN, O, or a blank cell.
 - Jab kabhi data no ho kisi 1 row me kisi bhi 1 paramter ka.
 > Steps:
 1. Koshish kry dobara data collect ker len agr kahin ghalti ha.
 2. Missing values wala variabe (column) hi nikal den agar data per effect nhi hota Ya simple row or data entry remove krdy.
 3. Replace the missing values:
    1. How?
       - Average value pf entire variable or similar data point.
       - Frequency or MODE replacrement
       - Replace based on other fucntions (Data sampler knows that).
       - ML algorithms can also be used
       - Leave it as it is. 
    2. WHy?
       - Its better because no data is lost
       - less accurate

In [ ]:
# where exactly missing values are?
kashti.isnull().sum()

In [ ]:
# use dropna method 
# kashti.shape
kashti.dropna(subset=['deck'], axis=0, inplace=True)
# this will remove specifially 
# inplace = true : modify the datafram

In [ ]:
kashti.isnull().sum()

In [ ]:
# to dropna 
kashti = kashti.dropna()
# to update the main  datafram
kashti.isnull().sum()

In [ ]:
kashti.shape

In [ ]:
ks1.isnull().sum()

# Replace missing values with the average of that column:

In [ ]:
# finding an average (mean)
mean = ks1['age'].mean()
mean

In [ ]:
# replace NaN values with Mean of the data (updating as well)
ks1['age'] = ks1['age'].replace(np.nan , mean)

In [ ]:
ks1['embarked'] = ks1['embarked'].replace(np.nan , mean)

In [ ]:
ks1['embark_town'] = ks1['embark_town'].replace(np.nan , mean)

In [ ]:
ks1['deck'] = ks1['deck'].replace(np.nan , mean)
# here its execute but not remove NaN values :

In [ ]:
ks1.isnull().sum()

# Data Formating
- Data ko aik common standard per lana
- Ensures data is consistent and undrestandable
   - Easy to gather.
   - Easy to workwith.
   > like
   - Faisalabad(FSD)
   - Lahore(LHR)
   - etc.

In [ ]:
# konw the data types and convert in into the known one
kashti.dtypes

In [ ]:
# converting dtypes --- one to anoter type like this:
kashti['survived'] = kashti['survived'].astype("float64")
kashti.dtypes

In [ ]:
kashti['age'] = kashti['age']*365
kashti.head(5)

In [ ]:
kashti.rename(columns={"age": "age in days"}, inplace=True)
kashti.head(10)

# **Data Normalization**
- Uniform the data
- They have same impact
- Also for computational reasons

In [ ]:
kashti = kashti[["age in days", 'fare']]
kashti.head(5)

# Methods of Normalization:
- simple feature scaling
  - x(new)= x(old) / x(max)
- Min-Max method
- Z-score (Standard score) -3 to +3
- log transformation

In [ ]:
# simple feature scaling
kashti['fare'] = kashti['fare']/kashti['fare'].max()
kashti['age in days'] = kashti['age in days']/kashti['age in days'].max()
kashti.head()

In [ ]:
# Min-Max Method
kashti['fare'] = (kashti['fare']-kashti['fare'].min()) / (kashti['fare'].max()-kashti['fare'].min() )
kashti.head()

In [ ]:
# Z-score method (standard score): 
kashti['fare'] = ( kashti['fare'] - kashti['fare'].mean() ) / kashti['fare'].std()
kashti.head()

In [ ]:
# log transformation:
ks2['fare'] = np.log(ks2['fare'])
ks2.head()

# Binning:
- Grouping of values into smaller No. of values
- Convert numeric into categories (jawan, Bachy, Boorhay) or 1-16, 17-30, etc.
- To have better understanding of grounps
  - low vs mid vs high price.

In [ ]:
# bins = np.linspace(min(kashti['age']), max(kashti['age']), 15000)
# age_groups = ["Bachay", "Jawan", "Boorhay"]
# kashti['age'] = pd.cut(kashti['age'], bins, lables=age_groups, include_lowest=True)
# kashti['age']
# How this will change the names in dataset based on grouping? (Assignment)...

### **converting categories into dummies**
- easy to use for computation
- Male Feamale (0, 1)

In [ ]:
ks1.head()

In [ ]:
pd.get_dummies(ks1['sex'])